.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor:default;
  padding: 0.5rem;
  margin: 1rem 0;
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.expense-item__category {
  /* text-align: center; */
  color: #fff;
  font-size: 1rem;
  background-color: #2a2a2a;
  /* border: 1px solid #fff; */
  padding: 0.5rem;
  border-radius: 12px;
  margin-right: 1rem;
}

.expense-item__type {
  /* text-align: center; */
  color: #fff;
  font-size: 1.4rem;
  background-color: #2a2a2a;
  /* border: 1px solid #fff; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 12px;
  margin-right: 1rem;
}

.expense-item__price {
  font-size: 1rem;
  /* font-weight: bold; */
  color: white;
  background-color: #2a2a2a;
  /* border: 1px solid white; */
  padding: 0.5rem;
  border-radius: 12px;
  margin-right: 1rem;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__category {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
  
  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }

  .expense-item__edit {
    font-family: sans-serif;
    display: flex;
    cursor:pointer;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    /* padding: 0.5rem 1rem; */
    color: white;
    /* width: 4rem; */
    background-color: #2dd221;
    border: 0.5px solid white;
    padding: 0.4rem 1rem;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
   .expense-item__edit:hover,
  .expense-item__delete:focus {
    background-color: #268a30;
    outline: none;
  }

  .expense-item__delete {
    font-family: sans-serif;
    display: flex;
    cursor:pointer;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    /* padding: 0.5rem 1rem; */
    color: white;
    background-color: #fa0733;
    border: 0.5px solid white;
    padding: 0.4rem 1.5rem;
    border-radius: 12px;
  }
  
   .expense-item__delete:hover,
  .expense-item__delete:focus {
    background-color: #c80000;
    outline: none;
  }
}