.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center; /* Add this line for horizontal center alignment */
  align-items: center; /* Add this line for vertical center alignment */
  text-align: center; /* Add this line for center alignment of text */
}

.new-expense__control label{
  color: white; /* Cool color for label */
  font: inherit;
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.4rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 18rem;
  max-width: 100%;
  color: #333; /* Text color for input */
  background-color: #f5f5f5; /* Cool color for input background */
}

.new-expense__control .category-select {
  width: 100%;
  padding: 0.4rem;
  border-radius: 6px;
  width: 18rem;
  border: 1px solid #ccc;
  font: inherit;
}

.new-expense__actions {
  text-align: center;
}

.new-expense__actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #6e84ff; /* Cool color for button */
}

.new-expense__actions button:hover,
.new-expense__actions button:active {
  background-color: #5366e3; /* Darker shade for button on hover/active */
}
