 .category-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: 0.5rem; */
}

.category-form .form-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-form label {
  color: white;
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
}

.category-form input,
.category-form select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  width: 15rem;
  max-width: 100%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.category-form button {
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding-top: 0.1rem;
}

.category-form .button-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.2rem;
}

.category-form button[type="submit"] {
  background-color: #3a3a3a;
  color: white;
}

.category-form button[type="button"] {
  background-color: #3a3a3a;
  color: white;
}




