@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 10;
  background-color: #3f3f3f;
  /* background-image: url('./background3.webp');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover; */
}